:root {
    --gap: 1rem;
    --height: 150px;
    --width: 230px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}

ul.slide li,
li.slide {
    align-items: center;
    background: gray;
    color: white;
    display: flex;
    font-size: 4em;
    justify-content: center;
}