:root {
    --gap: 1rem;
    --height: 150px;
    --width: 230px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.snappy-slider {
    display: flex;
    gap: var(--gap);
    margin: 0 auto;
    width: 700px;
}

.content {
    -ms-overflow-style: none;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.track {
    display: flex;
}

.item {
    flex: 0 0 var(--width);
    height: var(--height);
    width: var(--width);
    align-items: center;
    background: palevioletred;
    color: white;
    display: flex;
    font-size: 4em;
    justify-content: center;
    user-select: none;
}

.spacer {
    flex: 0 0 var(--gap);
    pointer-events: none;
    user-select: none;
}

.shift-one .item {
    scroll-snap-align: center;
}

.shift-two .spacer {
    scroll-snap-align: center;
}