:root {
    --gap: 1rem;
    --height: 150px;
    --width: 230px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Demo page width: */

.wrapper {
    margin: 0 auto;
    width: 900px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}

/* Demo slider: */

.snappy-slider {
    display: flex;
    gap: var(--gap);
    margin: 0 auto;
    width: 100%;
}

.viewport {
    -ms-overflow-style: none;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 100%;
}

.viewport::-webkit-scrollbar {
    display: none;
}

.track {
    display: flex;
}

.spacer {
    flex: 0 0 var(--gap);
}

.snap-target {
    scroll-snap-align: center;
}

/* Option 1) The slider's contents are UNGROUPED <li> elements: */

li.content {
    flex: 0 0 var(--width);
    height: var(--height);
    width: var(--width);

    /* Demo styling only: */
    align-items: center;
    background: palevioletred;
    color: white;
    display: flex;
    font-size: 4em;
    justify-content: center;
}

/* Option 2) The slider's contents are GROUPS of <li> elements: */

li.group {
    display: flex;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

ul.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul.content li {
    width: var(--width);
    height: var(--height);

    /* Demo styling only: */
    align-items: center;
    background: palevioletred;
    color: white;
    display: flex;
    font-size: 4em;
    justify-content: center;
}

ul.content li+li {
    margin-left: var(--gap);
}